In [4]:
import os,gc
os.environ["CUDA_VISIBLE_DEVICES"]="0"
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('test_full.csv')

df = df.loc[df['type']!=0]
df['hour'] = df.ts % (60*60*24)
df['day'] = df.ts % (60*60*24*7)
df['aid2'] = df.aid
print( df.shape )
df.head()

(28454, 8)

    Unnamed: 0  session      aid          ts  type   hour     day     aid2
6            6        0  1649869  1659369893     1  57893  403493  1649869
7            7        0   461689  1659369898     1  57898  403498   461689
8            8        0   305831  1659370027     2  58027  403627   305831
9            9        0   461689  1659370027     2  58027  403627   461689
43          43        0   789245  1659710157     1  52557  138957   789245

In [6]:
user_features = df.groupby('session').agg({'type':'mean','aid':'count','aid2':'nunique','hour':'mean','day':'mean'})
user_features.columns = ['buy_ratio2','count_item2','unique_item2','hour_mean2','day_mean2']

In [4]:
user_features.head()

          buy_ratio2  count_item2  unique_item2  hour_mean2  day_mean2
session
11098530         1.0            1             1     80532.0   339732.0
11098531         2.0            4             4     79746.0   338946.0
11098533         1.0            2             2     79339.5   338539.5
11098535         1.0            1             1     79263.0   338463.0
11098537         1.4            5             2     82032.8   341232.8

# buy_ratio
反应用户的购买率，这是用户的特征
# count_item
反应了这个用户看了多少物品
# unique_item
反映了这个用户看了多少不同的物品
# hour_mean
df['hour'] = df.ts % (60*60*24)
平均时长几小时
# day_mean
df['day'] = df.ts % (60*60*24*7)
平均持续几天

In [5]:
user_features2 = df.groupby('session').agg({'type':'std','hour':'std','day':'std'}).fillna(-1)
user_features2.columns = ['buy_ratio_std2','hour_std2','day_std2']

f32 = ['buy_ratio_std2','hour_std2','day_std2']
for c in f32: user_features2[c] = user_features2[c].astype('float32')

In [6]:
user_features2.head()

          buy_ratio_std2    hour_std2     day_std2
session
12260713        0.447214   742.730286   742.730286
11995080        0.000000  8843.485352  8843.485352
11847637       -1.000000    -1.000000    -1.000000
12293367       -1.000000    -1.000000    -1.000000
12057855        0.000000   113.182747   113.182747

In [7]:
user_features['repeat2'] = user_features.count_item2 / user_features.unique_item2

f32 = ['buy_ratio2','hour_mean2','day_mean2','repeat2']
for c in f32: user_features[c] = user_features[c].astype('float32')
    
i32 = ['count_item2','unique_item2']
for c in i32: user_features[c] = user_features[c].astype('int32')

In [8]:
user_features = cudf.concat([user_features,user_features2],axis=1)

In [10]:
user_features.columns = [x.replace('2','10') for x in user_features.columns]

In [2]:
user_features.head()

NameError: name 'user_features' is not defined

In [12]:
user_features.dtypes

buy_ratio10        float32
count_item10         int32
unique_item10        int32
hour_mean10        float32
day_mean10         float32
repeat10           float32
buy_ratio_std10    float32
hour_std10         float32
day_std10          float32
dtype: object

In [1]:
user_features.to_parquet('user10.pqt')

NameError: name 'user_features' is not defined